<div class="container mt-5">
    <h1>Hello, {{user.name}}</h1>

    <p>Your email is {{user.email}}</p>
    <p>Account created at {{user.createdAt}}</p>
    <a class="btn btn-primary" href="/users">User list</a>
    <br>
    <br>
    <br>
    <a class="btn btn-danger" href="/logout">Logout</a>
</div>